services:

  api:
    build:
      context: ..
      dockerfile: deployment/Dockerfile
    image: service-name
    ports:
      - "5000:8080"
    env_file:
      - .env
    depends_on:
      - db
    volumes:
      - ./logs:/app/logs
    healthcheck:
      test: ["CMD-SHELL", "bash -c '</dev/tcp/localhost/8080'"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 20s

  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      - ACCEPT_EULA=Y
      - SA_PASSWORD=Dev@123456
    ports:
      - "1433:1433"
    volumes:
      - sql_data:/var/opt/mssql
    healthcheck:
      test: ["CMD-SHELL", "bash -c '</dev/tcp/localhost/1433'"]
      interval: 30s
      timeout: 10s
      retries: 5
      start_period: 30s

volumes:
  sql_data:
